html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	overflow-x: hidden;
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
}
.row:before,
.row:after {
  display: none !important;
}
.container-fluid {
	padding: 0 !important;
}
.header{
    background-image: linear-gradient(to right, rgba(7, 55, 49, 0.8), rgba(7, 55, 49, 0.8)), url("https://res.cloudinary.com/ayowoleadenuga/image/upload/v1537054714/bg-min.png");
    position: relative;
    height: 100vh;

    width: 100%;
    background-repeat: no-repeat;

    background-position:  top;
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;

    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}
.header-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-80%, -53%)
}
.header-center2 {
	position: absolute;
	top: 20%;
	left: 55%;
	transform: translate(-5%, -53%)
}
.headFont {
	font-family: 'Montserrat', sans-serif;
}

.centering {
	margin: 0 auto !important;
}
.green {
	color: #073731;
}
.stat-text__topic{
	/* opacity: 0; */
	font-size: 3.5rem;
	animation: moveInRight 2s ease-in 1s backwards;
	transition: all;
}
.stat-text__words{
	font-size: 2rem;
}
.stat-text__words span{
	font-size: 1.4rem;
}

.header2{
	position: absolute;
	top: 60%;
	right: -0.5rem;
}
.logo{
	width: 7.6rem;
	height: 7.1rem;
}
.topic{
	color: #FEBA10;
	/* top: 19rem;
	left: 8.5rem; */
	font-size: 3rem;
	margin-bottom: 10px;
}

.btn-down {
	margin-top: 2%;
	margin-left: 12.5%;
}
.header__button, .header__button:visited { text-decoration: none !important; font-size: 2.4rem; padding: 1rem; border: 0.1rem solid #FEBA10; border-radius: 5%; 
	color: #fff; background-color: #073731;
	text-shadow:0 .1rem 0 #5b8a3c; transition: all 0.5s ease-in; animation: moveInUp 2s ease 3.5s backwards;
}
.header__button:hover {
	text-decoration: none;
	color: #073731;
	background-color: #fff
}

/* nav */
nav {
	position: absolute;
	top: 85%;
	width: 80%;
	left: 20%;
	animation: moveInUp 2s ease 4s backwards;
	transition: all ease-in;
}
nav a, nav a:visited {
	text-decoration: none !important;
	color: #fff;
}
nav a:hover {
	text-decoration: none;
	color: #fff;
}

.navigation-category:not(:last-child) {
	margin-right: 25%;
}
.navigation-category__icon1 {
	width: 4rem;
}
.navigation-category__icon2 {
	width: 5rem;
}
.navigation-category__icon3 {
	width: 6rem;
}
.ml2 {
	margin-left: 2rem;
}
.navigation-category__title {
	margin-top: .6rem;
	font-size: 1.6rem;
	font-weight: bold;
}
.new{
	margin-left: 12%;
}
.megc {
	width: 50%;
}
.hero{
		width: 75%;
    height: 100%;
    margin-top: 3rem;
    border-radius: 1rem;
    border: .1rem solid #ccc;
    box-shadow: .1rem .5rem 1rem rgba(68, 68, 68, 0.6);
		margin-left: 12%;
		display: flex;
		flex-flow: row-wrap;
		text-align: center;
}

.margine {
	margin: auto 0;
}

.hero-text h5 {
	font-size: 2.5rem;
	font-weight: bold;
}
.hero-text p {
	font-size: 1.8rem;
}
.cat a{
	margin-top: 4rem;
	margin-left: 12%;
	/*background: green;*/
	color: #fff;
	border: .1rem solid yellow;
}
.stories {
	width: 80%;
	/* height: 10rem; */
	/*background: red;*/
	margin-left: 10%;
}
.about-header{
	font-weight: 600;
	font-size: 3rem;
	display: inline-block;
}
.mt6 {
	margin-top: 6rem;
}
.stories .content{
	font-size: 2rem;
	margin-top: 6rem;
	margin-top: 3rem;
}

.about .content{
	margin-top: 6rem;
}
#about {
	width: 5rem;
	display: inline-block;
	margin: -1.5rem 1rem 0 0;
}

/* charts */

/* utilities */
.mt5 {
	margin-top: 5rem;
}

.mb-50 {
	margin-bottom: 5rem;
  }
  .mt-100 {
	margin-top: 10rem;
  }
  .mb-100 {
	margin-bottom: 10rem;
  }
  .headline {
	font-size: 3.5rem;
	font-weight: 600;
  }


/* Slider */
.slick-slide {
	margin: 0 5rem;
	padding: 0 2rem;
  }
  
 
  .slick-slider {
	position: relative;
	display: block;
	margin-top: 4rem;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
  }
  
  .slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
  }
  .slick-list:focus {
	outline: none;
  }
  .slick-list.dragging {
	cursor: pointer;
	cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
  
  .slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
  }
  .slick-track:before,
  .slick-track:after {
	display: table;
	content: '';
  }
  .slick-track:after {
	clear: both;
  }
  .slick-loading .slick-track {
	visibility: hidden;
  }
  
  .slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: .1rem;
  }
  [dir='rtl'] .slick-slide {
	float: right;
  }
  .slick-slide img {
	display: block;
  }
  .slick-slide.slick-loading img {
	display: none;
  }
  .slick-slide.dragging img {
	pointer-events: none;
  }
  .slick-initialized .slick-slide {
	display: block;
  }
  .slick-loading .slick-slide {
	visibility: hidden;
  }
  .slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: .1rem solid transparent;
  }
  .slick-arrow.slick-hidden {
	display: none;
  }


footer{
	color: #fff;
	background: #073731;
	height: 20rem;
}
footer a {
	text-decoration: none;
	color: #fff;
}

/* animations */

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem)

	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem)

	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes moveInUp {
	0% {
		opacity: 0;
		transform: translateY(10rem)

	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes moveInDown {
	0% {
		opacity: 0;
		transform: translateY(-10rem)

	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
.move-in-left {
	animation-name: moveInLeft;
	animation-duration: 2s;
	transition: all ease;
}
.move-in-Up {
	animation: moveInUp 1s ease backwards;
	transition: all;
}
#stat1 {
	animation: moveInUp 1s ease 2s backwards;
	transition: all ease-in;
}
#stat2 {
	animation: moveInUp 1s ease 2.5s backwards;
	transition: all ease-in;
}
#stat3 {
	animation: moveInUp 1s ease 3s backwards;
	transition: all ease-in;
}

/* footer */
footer{
  width: 100%;
  height: 200px;
  background-color: #073731;
  /* padding: 10px; */
}
.footer-logo{
  width: 20px;
  height: 24px;
  margin-top: 5%;
  margin-left: 10%;
}
ul{
  margin-left: 10%;
  margin-top: -32px;
}
ul li{
  list-style: none;
}
ul li a{
  text-decoration: none;
  font-size: 13px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 10px;
}
.follow{
  float: left;
  text-decoration: none;
  font-size: 9px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin-left: 23%;
}
.follow .social{
  width: 9px;
  height: 10px;
  margin-right: 10px;
}
.copyright{
      position: absolute;
      margin-left: 40%;
      margin-top: 50px;
      font-size: 9px;
      color: #fff;
      font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 480px){
		html {
			font-size: 70%;
		}
		.heading2 {
			display: none;
		}

}

@media only screen and (min-width: 320px){

    ul li a{
      font-size: 12px;
      font-family: 'Open Sans', sans-serif;
      line-height: 25px;
  }
  .follow{
      float: left;
      font-size: 13px;
      font-family: 'Open Sans', sans-serif;
      /*margin-right: 10%;*/
      /*margin-top: 0px;*/
  }
  .follow .social{
      width: 9px;
      height: 10px;
      margin-left: 10px;
  }
  .copyright{
      margin-top: 35px;
  }
}

@media only screen and (min-width: 768px){
	
    footer{
      width: 100%;
      height: 220px;
  }
  .copyright{
      font-size: 13px;
      margin-left: 43%;
      margin-top: 20px;
  }
  .follow{
      float: right;
      text-decoration: none;
      font-size: 13px;
      font-family: 'Open Sans', sans-serif;
      margin-right: 10%;
      margin-top: -10%
  }
  .follow .social{
      width: 11px;
      height: 12px;
      margin-left: 10px;
  }
  ul li a{
      
      font-family: 'Open Sans', sans-serif;
      line-height: 25px;
	}
}


@media only screen and (min-width: 1020px){
  footer{
      width: 100%;
      height: 400px;
  }
  .footer-logo{
      width: 39px;
      height: 45px;
  }
  ul{
      margin-left: 12%;
      margin-top: -50px;
  }
  ul li{
      list-style: none;
      margin-bottom: 20px;
  }
  ul li a{
      text-decoration: none;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      line-height: 20px;
  }
  ul li a:hover{
      color: #c5dad7;
      text-decoration: none;
  }
  .follow{
      float: right;
      text-decoration: none;
      font-size: 16px;
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      margin-right: 10%;
      margin-top: -10%
  }
  .follow .social{
      width: 13px;
      height: 16px;
      margin-left: 10px;
  }

  .copyright{
      font-size: 16px;
      margin-left: 43%;
  }
}
